
.content
    border-radius: 1rem
    padding: 2rem
    background: #f3f4f6
    margin: auto
    display: flex
    flex-flow: column
    row-gap: 1rem
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 20px 0px
    width: 100%





fieldset
    border: none
    padding: 1rem 0
    display: flex
    justify-content: space-around

    + .fields
        display: grid
        grid-template-columns: auto minmax(0, 1fr)
        row-gap: 0.5rem
        column-gap: 1rem

        > small
            grid-column: span 2
            margin: 0 0 0.3rem 0
            color: #f87171
            flex-basis: 100%


div
    display: flex
    align-items: center
    margin-bottom: 0.5rem




